langchain
ipykernel
sentence-transformers
uvicorn
ctransformers
python-box
streamlit
langchain-community
python-dotenv
pypdf
bs4
arxiv
pymupdf
langchain_openai
lxml
langchain-text-splitters
langchain_huggingface
sentence_transformers
faiss-cpu
langchain_chroma


